<header th:fragment="codeverse-header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/index">
      <img src="image/logo.png" alt="logo" width="80" style="border-radius: 10px;">
      CODEVERSE
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/index">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
            More
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Online Batch Details</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">About Us</a></li>
            <li><a class="dropdown-item" href="#">Contact Us</a></li>
          </ul>
        </li>
      </ul>
      <a href="/login" class="btn btn-info ms-3">Login</a>
      <a href="/register" class="btn btn-info ms-3">Register</a>
    </div>
  </div>
</nav>
	
</header>
<!-- nav ends here -->
